
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



/* Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}




/* Header */
header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand{
    color: rgba(255, 69, 97, 1);
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Secular One', sans-serif;
}

.logo{
    width: 100px;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-item a{
    position: relative;
    color: #fff;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-item a:before{
    content: '';
    position: absolute;
    background-image: linear-gradient(90deg, rgba(255, 69, 97, 1) 0%, rgba(255, 36, 120, 1) 100%);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-item a:hover:before{
    width: 100%;
}



/* Video Silde */
section{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgb(0, 0, 0);

}

.home:before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content{
    display: none;
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
}

.home .content.active{
    display: block;
}

.home .content h1{
    /* color: rgba(255, 69, 97, 1); */
    color: #fff;
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 20px;
}

.home .content h1 span{
    font-size: 2rem;
    font-weight: 600;
}

.home .content p{
    margin-bottom: 65px;
}

.home .content a{
    background-image: linear-gradient(90deg, rgba(255, 69, 97, 1) 0%, rgba(255, 69, 136, 1) 100%);
    padding: 10px 30px ;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 50px;
    
}

.home .media-icons{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a{
    color: rgba(255, 69, 97, 1);
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child){
    margin-bottom: 20px;
}

.home .media-icons a:hover{
    transform: scale(1.5);
}

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .slider-nav-btn{
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .slider-nav-btn.active{
    background-image: linear-gradient(90deg, rgba(255, 69, 97, 1) 0%, rgba(255, 36, 120, 1) 100%);
}

.slider-navigation .slider-nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navigation .slider-nav-btn:hover{
    transform: scale(1.2);
}


.video-silde{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
    
}

.video-silde.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}


.Button-trigger-modal a{
    background: linear-gradient(90deg, rgba(255, 69, 97, 1) 0%, rgba(255, 36, 120, 1) 100%);
    border: #fff;
    border-radius: 0;
}

.Button-trigger-modal a:hover{
    background: rgb(92, 92, 92);
    border: rgb(92, 92, 92);
    border-radius: 0;
}

.Button-trigger-modal a:focus{
    background: rgb(92, 92, 92);
    border: rgb(92, 92, 92);
    border-radius: 0;
}

/* about */
#exampleModalLabel{
    color: #000;
    font-weight: 500;
}

.about-text h1{
    color: rgba(255, 69, 97, 1);
    font-size: 3em;
    font-weight: 600;
}

.service-section{
    background-color: #000;
    color: #fff;
}

.service-section h3{
    color: #000;
}

.service-section p{
    color: #000;
}


.pattern-dots-md{
    color: rgba(255, 69, 97, 1);
    font-weight: 900;
}


/* Responsive */
@media (max-width: 1040px){
    header{
      padding: 12px 20px; 
    }
    
    section{
        padding: 100px 20px;
    }

    .home .media-icons{
       
        right: 15px;
       
    }

    header .navigation {
        display: none;
    }

    
    header .navigation.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-item a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-item a:before{
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-item{
        background: rgb(255, 255, 255);
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction:  column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgba(226, 226, 226, 0.2);
    }

    .menu-btn{
        background: url(image/menu.png)no-repeat;
        background-size: 80%;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        position: fixed;
        right: 0;
        margin-right: 10px;
        z-index: 999;
        background: url(image/cancel.png)no-repeat;
        background-size: 70%;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
}

@media (max-width: 600px){
    .home .content h1{
        font-size: 2em;
       
    }
    
    .home .content h1 span{
        font-size: 1rem;
        
    }
    
    .home .content p{
        
    }
    
}